.navbar{
    height: 12vh;
    z-index: 9999;
    background-color: var(--clr-blue-light);
    // background-color: red;
    display: flex;
    justify-content: space-between;
}

.logoDiv{
    width: 200px;
    height: 100%;
    .logoContainer{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: var(--clr-yellow);
    }
    p{
        color: var(--clr-dark);
        font-family: 'Lato', sans-serif;
        font-size: 40px;
    }
}
.links{
    width: 500px;
    height: 100%;
    justify-content: space-around;
    transition: all .3s;
    @media (max-width: 750px) {
        display: none;
	}

}
.hamburger{
    display: none;
    height: 100%;
    width: 100px;

        .hamburgerTxt{
            font-size: 35px;
        }
    @media (max-width: 750px) {
        display: flex;
	}
}
.linkDiv{
    width: 130px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--clr-coral);
}
.link{
    text-decoration: none;
    color: var(--clr-white);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
